@import url("http://jsoneditoronline.org/app.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");
@font-face {
	font-family: "FontAwesome";
	src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff") format('woff');
	font-weight:normal;
	font-style:normal;
}
.jsoneditor-field,
tr.jsoneditor-expandable {
	font-family: 'Source Sans Pro', sans-serif !important;
}
[class*=icon_]:before {
	font: normal normal normal 14px/1 FontAwesome;
}

.jsoneditor-readonly,
.jsoneditor-value.jsoneditor-object,
div.jsoneditor-tree button:before,
.jsoneditor-field {
	font-weight: 700;
}
.jsoneditor-expandable {
	font-weight: 900;
}
html {
	overflow: hidden;
	height: 100%;
}
body {
    overflow-y: scroll;
    margin: 0;
    min-height: 100%;
}
.button {
	color: #fff;
	padding: 6px 16px;
	white-space: nowrap;
	-webkit-user-select: none;
	border-radius: 0;
	display: inline-block;
	box-sizing: border-box;
}
.button:focus,
.button:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.15)), color-stop(1%, rgba(255,255,255,.15)), color-stop(1%, rgba(0,0,0,.1)), to(rgba(0,0,0,.15)));
	background-image: -webkit-linear-gradient(rgba(255,255,255,.15) 99%, rgba(0,0,0,.1) 1%, rgba(0,0,0,.15));
	background-image: -moz-linear-gradient(rgba(255,255,255,.15) 99%, rgba(0,0,0,.1) 1%, rgba(0,0,0,.15));
	background-image: -ms-linear-gradient(rgba(255,255,255,.15) 99%, rgba(0,0,0,.1) 1%, rgba(0,0,0,.15));
	background-image: linear-gradient(rgba(255,255,255,.15) 99%, rgba(0,0,0,.1) 1%, rgba(0,0,0,.15));
}
.button,
.button:focus,
.button:active{
	border-spacing: 0 !important;
}

div.jsoneditor-tree button.jsoneditor-collapsed,
div.jsoneditor-tree button.jsoneditor-expanded {
	display: inline-block;
	font-family: FontAwesome;
	background:none;
}
div.jsoneditor-tree button.jsoneditor-collapsed:before {
  content: "\f0da";
}
div.jsoneditor-tree button.jsoneditor-expanded:before {
  content: "\f0d7";
}
div.jsoneditor-tree button[class*=jsoneditor-]:before {
    font-size: 16px;
    font-weight: normal !important;
}
div.jsoneditor-readonly,
div.jsoneditor-value.jsoneditor-object,
div.jsoneditor-tree button:before {
	color:#3883fa;
}
#main-container {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px 0 80px;
}
div.jsoneditor, 
div.jsoneditor-menu {
	border-width: 0;
}
.jsoneditor > div.jsoneditor-menu {
	background-color: #3883fa !important;
}
.jsoneditor-expandable:nth-child(even) {
	background-color: #fafafa;
}
.jsoneditor-expandable:nth-child(even) {
	background-color: #fafafa;
}
div.jsoneditor-value.jsoneditor-object,
div.jsoneditor-value.jsoneditor-array,
div.jsoneditor-readonly {
  min-width: 16px;
}

div.jsoneditor-empty {
  border-color: lightgray;
  border-style: dashed;
  border-radius: 2px;
}

div.jsoneditor-field.jsoneditor-empty::after,
div.jsoneditor-value.jsoneditor-empty::after {
  pointer-events: none;
  color: lightgray;
  font-size: 8pt;
}

div.jsoneditor-field.jsoneditor-empty::after {
  content: "field";
}
div.jsoneditor-value.jsoneditor-empty::after {
  content: "value";
}

div.jsoneditor-value.jsoneditor-url,
a.jsoneditor-value.jsoneditor-url {
  color: green;
  text-decoration: underline;
}
a.jsoneditor-value.jsoneditor-url:hover,
a.jsoneditor-value.jsoneditor-url:focus {
  color: #ee422e;
}
div.jsoneditor-field[contenteditable=true]:focus,
div.jsoneditor-field[contenteditable=true]:hover,
div.jsoneditor-value[contenteditable=true]:focus,
div.jsoneditor-value[contenteditable=true]:hover,
div.jsoneditor-field.jsoneditor-highlight,
div.jsoneditor-value.jsoneditor-highlight {
  background-color: #FFFFAB;
  border: 1px solid yellow;
  border-radius: 2px;
}

div.jsoneditor-field.jsoneditor-highlight-active,
div.jsoneditor-field.jsoneditor-highlight-active:focus,
div.jsoneditor-field.jsoneditor-highlight-active:hover,
div.jsoneditor-value.jsoneditor-highlight-active,
div.jsoneditor-value.jsoneditor-highlight-active:focus,
div.jsoneditor-value.jsoneditor-highlight-active:hover {
  background-color: #ffee00;
/*
  border: 1px solid #ffc700;
*/
  border-radius: 2px;
}

/* ================================================================== *
 * TEXT COLOR
 * ================================================================== */

.icon_chrome,
.color-green {
	color: #3cba54
}
.color-yellow {
	color: #f4c20d 
}
.icon_ie,
.color-blue {
	color: #00BCF2;
}
.icon_firefox,
.color-orange {
	color: #E55B0A;
}

.icon_opera,
.color-red {
	color: #CC0F16;
}

div.jsoneditor-value.jsoneditor-string {
  color: #008000;
}
/*
tbody > tr > td button:before {
  color: #1a1a1a;
}
*/
div.jsoneditor-value.jsoneditor-array {
  color: #808080;
}

div.jsoneditor-value.jsoneditor-number {
  color: #ee422e;
}

div.jsoneditor-value.jsoneditor-boolean {
  color: #ff8c00;
}

div.jsoneditor-value.jsoneditor-null {
  color: #004ED0;
}

div.jsoneditor-value.jsoneditor-invalid {
  color: #000000;
}
