@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,400italic,700,300italic,300|Roboto:400,400italic,700,500,300,300italic,900,500italic|Lato:400,700);
/* ============================================== *
	* NASM FONTS & ICON FONTS & FONT SIZES
	* ============================================== */
body, * {
	font-family: 'Roboto Condensed', sans-serif;
}
body {
	overflow: hidden;
	color: #636466;
}
html {
    overflow-y: scroll;
    font-size: 100%;
	font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
a,
a:hover,
a:focus {
	text-decoration: none;
}
a:hover,
a:focus,
.nav>li>a:hover {
	color: #206ca2;
}
[class*="-after"]:after {
    content: "";
}

.lato {
	font-family: 'Lato', sans-serif;
}
.navbar-bottom a,
.read-more,
.font-bold,
.font-weight-700 {
	font-weight: 700;
}
.header-alert,
[class*="btn btn-"],
.footer-list > h4,
.footer-menu > li:first-child > a,
.font-weight-600 {
    font-weight: 600;
}
.label,
.card-label > span,
.font-weight-500 {
	font-weight: 500;
}
.login-widget,
.login-widget span,
.font-weight-400 {
	font-weight: 400;
}

.btn-wide,
.card-label,
.read-more,
[class*="section-header"],
.login-widget *,
.navbar-bottom > li > a:not(.dropdown),
.footer-list > h4,
.footer-menu > li:first-child > a {
	text-transform: uppercase;
}

[class*="section-header"],
.footer-list > h4,
.footer-menu > li:first-child > a,
.text-italic {
	font-style: italic;
}

/* ============================================== *
 * NASM LOGOS
 * ============================================== */
.mobile-header._top,
.logo-wrapper {
	max-width: 250px;
	width:98%;
}
.mobile-header._top {
	max-width: 275px;
}

[class*="logo-img-"]{
	padding-top: 36.43%;
	background-size: cover;
	background-position: center;
	display: block;
}
.logo-img-header {
	background-image:url('../Images/logo-header.png');
}
.logo-img-footer {
	background-image:url('../Images/logo-footer.png');
}
.logo-img-aafa {
	background-image:url('../Images/logo-aafa.png');
}

.login-widget,
.login-panel > span,
.logo-wrapper,
.float-none {
    display: inline-block;
	float: none !important;
}

.login-panel > span {
    max-height: 28px;
    vertical-align: top;
}

.logo-wrapper,
.nav-wrap,
.carousel,
.carousel-inner,
.dark-overlay,
.panel-body,
.relative {
	position: relative;
}
.card-label,
.absolute {
	position: absolute;
}
/* =============================== *
 * FULL WIDTH CONTAINER
 * =============================== */
.full-img,
.section {
	width: 100%;
	margin: 0 auto;
}
.dark-overlay,
.panel-round,
.section-o {
	overflow: hidden;
}

/* =============================== *
 * NAVIGATION
 * =============================== */
[class*="head-search"] {
	z-index:10;
}
.footer-list li {
	margin-bottom: 10px;
}
.head-search,
.carousel-inner {
	padding: 0;
}
.clear {
	clear: both;
}
.btn-wide {
	width: 98%;
	max-width: 300px;
}
/* BORDER RADIUS */
.rounded_20_all,
.rounded-20 {
  border-radius:20px;
}
.panel-round,
.cornered-img {
  border-radius:6px;
}
[class*="-lg rounded"] > input[type=text] {
  border-top-left-radius:23px;
  border-bottom-left-radius:23px;
}
.rounded_20_r,
[class*="-lg rounded"] input[type=button],
[class*="-lg rounded"] > .input-group-btn > .btn {
  border-top-right-radius:23px;
  border-bottom-right-radius:23px;
}
.rounded_10_rl > .btn:not(:last-child) {
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
}
.rounded_10_rl > .btn:last-child {
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
}
.navbar-bottom .main-menu {
	border-top-right-radius:0;
	border-top-left-radius:0;
}

._radius,
.navbar-bottom > li > ul > li > ul {
	border-radius: 0;
}
blockquote {
	border-left: 0;
}


/* ================================= *
 * ICON SIZES
 * ================================= */
.social-icons > a {
	height: 25px;
    width: 25px;
	line-height: 25px;
}
.ico-size-80 {
	height: 80px;
    width: 80px;
}

/* ========================================================================= *
 * NASM HEADER ------------------------------------------------------------- *
 * ========================================================================= */
.header-wrapper {
	border-bottom: 3px solid #77bbb0;
}
.navbar-bottom {
	width: 96%;
}
.head-search {
	width: 3.3%;
	border: 0;
	outline: 0;
}
.excerpt {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.login-widget > li > span,
.menu-dropdown > a:after {
	padding-left: .39em;
}
.menu-dropdown > a:after {
	content: "\f0d7";
	font: normal normal normal 14px/1 FontAwesome;
}
.navbar-bottom .main-menu {
	border-top: 3px solid #0d3b5f;
}
.navbar-bottom .main-menu {
	opacity: .96;
	margin-top: 0;
}
.main-menu > li:not(.divider):not(:last-child) {
	border-bottom: 1px solid #fff;
}

a,
.icon-search,
.pointer {
	cursor: pointer;
}
.label-default {
	cursor: default;
}

.carousel-caption,
.overlay-outer {
    width: 100%;
    margin: auto;
    display: table;
}
.overlay-inner {
	display:table-cell;
	vertical-align:middle;
}
.carousel-inner > .item > img {
	display: block;
	height: auto;
}
.hidden {
	display: none;
}
/* ========================================================================= *
 * CUSTOMIZE BOOTSTRAP CAROUSEL
 * ========================================================================= */
.carousel-caption {
	left: 0;
	width: 80%;
}
.carousel,
.carousel-inner > .item > img {
  float: left;
  width: 100%;
}
.carousel-inner,
.carousel-inner > .item {
  margin: 0;
  max-height:550px;
}

/* =============================== *
 * BG IMAGES
 * =============================== */
[class*="-bg-section"] {
    background-size: cover;
	background-position: center center;
    background-repeat: no-repeat;
	color: #fff;
}

.header-bg-section,
.footer-bg-section {
     background-image: url(../Images/background/footer-section.png);
}
.section-bg-blue {
    background-image: url(../Images/background/nasm-bg-blue.png);
	background-repeat: repeat;
}
.pattern-bg-section {
    background-image: url(../Images/background/pattern-bg-section.png);
	background-position: top left;
	background-size: 40%;
}

/* ========================================================================= *
 * NASM FOOTER ------------------------------------------------------------- *
 * ========================================================================= */
.footer-copyright > li:not(:last-child):after{
	content: "|";
	padding-left: 8px;
}

/* ================================= *
 * BOX SHADOWS
 * ================================= */
.box-shadow {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}
.panel,
.jumbotron {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
}

/* CONTENT */
.overlay-outer {
    z-index: 2;
}
.dark-overlay {
    z-index: 0;
}
.dark-overlay:after {
    z-index: -1;
}
.carousel,
.card.dark-overlay:after {
    z-index: 1;
}
.carousel-caption,
.dark-overlay:after,
.border-right-after:after,
.top-right {
    position: absolute;
    right: 0;
    top: 0;
}
.carousel-caption,
.border-right-after:after {
    bottom: 0;
}
.dark-overlay:after {
    content: '';
    display: block;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    left: 0;
}
.card-label {
    top: -35px;
    left: 15px;
}

/* ========================================================================= *
 * MEDIA QUERIES
 * ========================================================================= */
@media all and (max-width: 480px) {

	/*.col-xs-4.footer-list,.col-xs-6 {width: 100%;}*/
	[class*="col-"][class*="col-xxs"] {
		width: 100%;
	}
	.footer-menu {
		margin-bottom: 3em;
	}
	.carousel-caption > h2 {
		font-size: 1em;
	}
	.carousel-caption > p,
	.carousel-caption > .btn,
	.hide480 {
		display: none;
		visibility: hidden;
		width: 0;
		height: 0;
		padding: 0;
	}
	.card [class*="m-t-"] {
		margin-top: 3%;
	}

}

@media all and (max-width: 767px) {

	.mobile-header,
	.head-search,
	.menu-dropdown > a:after {
		font-size: 24px;
		display: block;
	}
	.mobile-header:not(._top) {
		height: 30px;
	}
	.mobile-header._bottom:before,
	.mobile-header._bottom:after {
		content: " ";
		clear:both;
		display: table;
	}
	.mobile-header:not(._top),
	.navi-button {
		padding: 0 15px;
	}
	.head-search {
		margin-top: -15px;
	}
	.navi-button {
		margin-bottom: -15px;
		margin-right: 15px;
	}
	.head-search-expanded.in {
		margin-bottom: -3px;
	}
	.navbar-bottom,
	.main-menu,
	.bottom-header {
		padding: 0 0 0;
	}

	/* MOBILE NAV */
	.menu-dropdown > a:after {
		content: "\f107";
		float: right;
	}
	.menu-dropdown.open > a:after {
	  content: "\f106";
	}
	.navbar-bottom {
		width: 100%;
	}
	.navbar-toggle .icon-bar+.icon-bar {
		margin-top: 7px;
	}
	.navbar-toggle .icon-bar {
		display: block;
		width: 36px;
		height: 3px;
		border-radius: 1px;
	}
	.navbar-bottom {
		border-top: 3px solid #77bbb0;
	}
	.navbar-bottom.nav li a {
		padding: .6em 1em;
	}
	.navbar-bottom .main-menu > li {
		border-top: 1px solid #eaeaea;
		border-bottom: 0;
	}
	.main-menu > li:last-child,
	.navbar-bottom > li:not(:last-child) {
		border-bottom: 1px solid #eaeaea;
	}

	.navbar-bottom li {
		display: block;
		position: relative;
		clear: both;
		float:none;
	}
	.navbar-bottom li > ul {
		position: static;
	}

	.navbar-bottom .open .dropdown-menu {
		width: 100%;
		border: 0;
		border-radius: 0;
		-webkit-box-shadow: 0 0 0 transparent;
		box-shadow: 0 0 0 transparent;
	}
	.navbar-bottom .open .dropdown-menu a {
		padding-left: 2em;
	}
	.carousel-caption > h1,
	.carousel-caption > p {
		margin-top: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.carousel-caption .btn.btn-lg {
		font-size: 13px;
		padding: 6px 1em 6px 1em;
	}
	.carousel-indicators {
		bottom: 5%;
	}

}

@media (min-width: 768px) {

	.nav-wrap {
		padding-right: 0;
		padding-left: 0;
	}
	.dropdown-menu > li > a,
	.navbar-bottom > li:not(.dropdown) {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.navbar-bottom > li > a {
		font-size: .95em;
	}
	.dropdown > .main-menu {
		margin: 0 auto;
		left: 0;
		right: 0;
	}
	.dropdown:hover > .main-menu {
		display: block;
	}
	.head-search-expanded {
		position: absolute;
		left: 0;
		margin-top: 53px;
	}
	.navbar-bottom,
	.head-search {
		display: table;
		height: 50px;
	}
    .navbar-bottom > li,
	.search-btn {
		display:table-cell;
		vertical-align: middle;
		text-align: center;
	}
	.navbar-bottom .main-menu > li > a {
		padding: 6px .9em;
		font-size: 1em;
	}
	.dropdown > .main-menu {
		width: 100%;
		background-color: #e7e7e7;
	}
	.navbar-bottom > li > ul > .dropdown > .main-menu {
		position: absolute;
		top: 0px;
		left: -100%;
		right: 100%;
		margin: 0px;
	}
	.navbar-bottom > li:first-child > ul > .dropdown > .main-menu {
		left: 100%;
	}

	/* FLEX COLUMNS */
	[class*="flex-layout-"] {
		column-gap: 1em;
	}
	.flex-layout-4 {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
	.flex-layout-3 {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
	.flex-layout-2 {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
	.flex-item {
		width: 100%;
		display: inline-block;
		float: none !important;
		margin: 0 0 1.2em;
	}

}

@media (min-width: 992px) {

	.navbar-bottom li a {
		font-size: 1.6rem;
	}
	.section-header {
		font-size: 4.2rem;
	}
	.jumbotron.large {padding-top: 150px;padding-bottom: 150px;}
	.section-header-md  {
		font-size: 24px;
	}
	.dropdown > .main-menu {
		width: 80%;
		min-width: 80% !important;
	}
	.navbar-bottom > li > ul > .dropdown > .main-menu {
		left: -80%;
		right: 80%;
	}

}